.imageContainer {
    width: 120px;
    /* height: 160px; */
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.imageContainer > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.deleteImageBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
}
